html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
}

.loginIn{
  width: 400px;
  height: 350px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  /* 偏移元素自身一半的距离 */
  transform: translate(-50%,-50%);
}

.title-box{
  font-size: 20px;
  color: rgb(0, 81, 255);
  text-align: center;
  letter-spacing: 5px;
  padding: 30px 0 30px 0;
}

.reg-box{
  display: none;
}

.layui-form{
  padding: 0px 20px 0 20px;
}

.links{
  display: flex;
  justify-content: flex-end;
}

.layui-form-item{
  position: relative;
}

.layui-icon{
  position: absolute;
  left:10px;
  top:10px;
}

.layui-input{
  padding-left: 32px;
}
